#darktolightsvg-u-white-circle {
  animation: darktolightsvg-u-white-circle_c_o 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-white-circle_c_o {
  0% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    opacity: 0;
  }
}
#darktolightsvg-u-spoke_ts {
  animation: darktolightsvg-u-spoke_ts__ts 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-spoke_ts__ts {
  0% {
    transform: translate(50px, 50px) scale(0.724752, 0.724752);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    transform: translate(50px, 50px) scale(0, 0);
  }
}
#darktolightsvg-u-spoke2_ts {
  animation: darktolightsvg-u-spoke2_ts__ts 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-spoke2_ts__ts {
  0% {
    transform: translate(50px, 50px) rotate(45deg) scale(0.724752, 0.724752);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    transform: translate(50px, 50px) rotate(45deg) scale(0, 0);
  }
}
#darktolightsvg-u-spoke3_ts {
  animation: darktolightsvg-u-spoke3_ts__ts 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-spoke3_ts__ts {
  0% {
    transform: translate(50px, 50px) rotate(90deg) scale(0.724752, 0.724752);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    transform: translate(50px, 50px) rotate(90deg) scale(0, 0);
  }
}
#darktolightsvg-u-spoke4_ts {
  animation: darktolightsvg-u-spoke4_ts__ts 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-spoke4_ts__ts {
  0% {
    transform: translate(50px, 50px) rotate(135deg) scale(0.724752, 0.724752);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    transform: translate(50px, 50px) rotate(135deg) scale(0, 0);
  }
}
#darktolightsvg-u-spoke5_ts {
  animation: darktolightsvg-u-spoke5_ts__ts 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-spoke5_ts__ts {
  0% {
    transform: translate(50px, 50px) rotate(180deg) scale(0.724752, 0.724752);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    transform: translate(50px, 50px) rotate(180deg) scale(0, 0);
  }
}
#darktolightsvg-u-spoke6_ts {
  animation: darktolightsvg-u-spoke6_ts__ts 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-spoke6_ts__ts {
  0% {
    transform: translate(50px, 50px) rotate(225deg) scale(0.724752, 0.724752);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    transform: translate(50px, 50px) rotate(225deg) scale(0, 0);
  }
}
#darktolightsvg-u-spoke7_ts {
  animation: darktolightsvg-u-spoke7_ts__ts 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-spoke7_ts__ts {
  0% {
    transform: translate(50px, 50px) rotate(270deg) scale(0.724752, 0.724752);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    transform: translate(50px, 50px) rotate(270deg) scale(0, 0);
  }
}
#darktolightsvg-u-spoke8_ts {
  animation: darktolightsvg-u-spoke8_ts__ts 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-spoke8_ts__ts {
  0% {
    transform: translate(50px, 50px) rotate(315deg) scale(0.724752, 0.724752);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    transform: translate(50px, 50px) rotate(315deg) scale(0, 0);
  }
}
#darktolightsvg-s-ellipse1_tr {
  animation: darktolightsvg-s-ellipse1_tr__tr 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-s-ellipse1_tr__tr {
  0% {
    transform: translate(50px, 50px) rotate(0deg);
  }
  100% {
    transform: translate(50px, 50px) rotate(-180.000001deg);
  }
}
#darktolightsvg-s-ellipse1_ts {
  animation: darktolightsvg-s-ellipse1_ts__ts 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-s-ellipse1_ts__ts {
  0% {
    transform: scale(0.761377, 0.761377);
  }
  100% {
    transform: scale(1.430105, 1.430105);
  }
}
#darktolightsvg-s-ellipse1 {
  animation: darktolightsvg-s-ellipse1_c_o 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-s-ellipse1_c_o {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#darktolightsvg-u-moon_tr {
  animation: darktolightsvg-u-moon_tr__tr 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-moon_tr__tr {
  0% {
    transform: translate(50px, 50px) rotate(-122.002279deg);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  75% {
    transform: translate(50px, 50px) rotate(-364.888983deg);
  }
  100% {
    transform: translate(50px, 50px) rotate(-358.921849deg);
  }
}
#darktolightsvg-u-moon_ts {
  animation: darktolightsvg-u-moon_ts__ts 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-moon_ts__ts {
  0% {
    transform: scale(0.412096, 0.412096);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    transform: scale(0.834412, 0.834412);
  }
}
#darktolightsvg-u-moon {
  animation: darktolightsvg-u-moon_c_o 800ms linear 1 reverse forwards;
}
@keyframes darktolightsvg-u-moon_c_o {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  100% {
    opacity: 1;
  }
}
