@import "../../style/index";
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  text-transform: uppercase;
  color: $white;
  position: relative;
  &::before {
    z-index: 3;
    @include absoluteP;
    background: linear-gradient(180deg, #ffff 0%, rgba(255, 255, 255, 0) 100%);
  }
  &-container {
    padding-right: 20vw;
    padding-left: 5vw;
  }
  &-title {
    font-size: min(3.125em,5vw);
    line-height: 3.8125rem;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    & span {
      color: $purple;
    }
  }
  &-carousel {
    font-weight: 900;
    font-size: 4.375em;
    text-transform: uppercase;
    &-outer {
      height: 2ch;
      overflow: hidden;
    }
  }
  @media screen and (max-width:1164px) {
    
  }
}
