.light-dark {
  #untitled-white-circle_ts {
    animation: untitled-white-circle_ts__ts 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-white-circle_ts__ts {
    0% {
      transform: translate(19.000001px, 19.002481px) scale(1, 1);
      animation-timing-function: cubic-bezier(0.62, 0.015, 0.405, 0.965);
    }
    100% {
      transform: translate(19.000001px, 19.002481px) scale(0.34, 0.34);
    }
  }
  #untitled-moon_tr {
    animation: untitled-moon_tr__tr 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-moon_tr__tr {
    0% {
      transform: translate(19.000001px, 19.002481px) rotate(0deg);
    }
    60% {
      transform: translate(19.000001px, 19.002481px) rotate(220deg);
    }
    100% {
      transform: translate(19.000001px, 19.002481px) rotate(220deg);
    }
  }
  #untitled-moon {
    animation: untitled-moon_c_o 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-moon_c_o {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  #untitled-star-spoke1_ts {
    animation: untitled-star-spoke1_ts__ts 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke1_ts__ts {
    0% {
      transform: translate(19px, 19.002481px) scale(0, 0);
    }
    72% {
      transform: translate(19px, 19.002481px) scale(0, 0);
    }
    100% {
      transform: translate(19px, 19.002481px) scale(1, 1);
    }
  }
  #untitled-star-spoke1 {
    animation: untitled-star-spoke1_c_o 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke1_c_o {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #untitled-star-spoke2_ts {
    animation: untitled-star-spoke2_ts__ts 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke2_ts__ts {
    0% {
      transform: translate(19px, 19.002481px) rotate(45deg) scale(0, 0);
    }
    6% {
      transform: translate(19px, 19.002481px) rotate(45deg) scale(0, 0);
    }
    34% {
      transform: translate(19px, 19.002481px) rotate(45deg) scale(1, 1);
    }
    100% {
      transform: translate(19px, 19.002481px) rotate(45deg) scale(1, 1);
    }
  }
  #untitled-star-spoke2 {
    animation: untitled-star-spoke2_c_o 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke2_c_o {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #untitled-star-spoke3_ts {
    animation: untitled-star-spoke3_ts__ts 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke3_ts__ts {
    0% {
      transform: translate(19px, 19.002481px) rotate(90deg) scale(0, 0);
    }
    24% {
      transform: translate(19px, 19.002481px) rotate(90deg) scale(0, 0);
    }
    52% {
      transform: translate(19px, 19.002481px) rotate(90deg) scale(1, 1);
    }
    100% {
      transform: translate(19px, 19.002481px) rotate(90deg) scale(1, 1);
    }
  }
  #untitled-star-spoke3 {
    animation: untitled-star-spoke3_c_o 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke3_c_o {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #untitled-star-spoke4_ts {
    animation: untitled-star-spoke4_ts__ts 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke4_ts__ts {
    0% {
      transform: translate(19px, 19.002481px) rotate(135deg) scale(0, 0);
    }
    34% {
      transform: translate(19px, 19.002481px) rotate(135deg) scale(0, 0);
    }
    62% {
      transform: translate(19px, 19.002481px) rotate(135deg) scale(1, 1);
    }
    100% {
      transform: translate(19px, 19.002481px) rotate(135deg) scale(1, 1);
    }
  }
  #untitled-star-spoke4 {
    animation: untitled-star-spoke4_c_o 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke4_c_o {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #untitled-star-spoke5_ts {
    animation: untitled-star-spoke5_ts__ts 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke5_ts__ts {
    0% {
      transform: translate(19px, 19.002481px) rotate(180deg) scale(0, 0);
    }
    52% {
      transform: translate(19px, 19.002481px) rotate(180deg) scale(0, 0);
    }
    80% {
      transform: translate(19px, 19.002481px) rotate(180deg) scale(1, 1);
    }
    100% {
      transform: translate(19px, 19.002481px) rotate(180deg) scale(1, 1);
    }
  }
  #untitled-star-spoke5 {
    animation: untitled-star-spoke5_c_o 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke5_c_o {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #untitled-star-spoke6_ts {
    animation: untitled-star-spoke6_ts__ts 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke6_ts__ts {
    0% {
      transform: translate(19px, 19.002481px) rotate(225deg) scale(0, 0);
    }
    64% {
      transform: translate(19px, 19.002481px) rotate(225deg) scale(0, 0);
    }
    92% {
      transform: translate(19px, 19.002481px) rotate(225deg) scale(1, 1);
    }
    100% {
      transform: translate(19px, 19.002481px) rotate(225deg) scale(1, 1);
    }
  }
  #untitled-star-spoke6 {
    animation: untitled-star-spoke6_c_o 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke6_c_o {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #untitled-star-spoke7_ts {
    animation: untitled-star-spoke7_ts__ts 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke7_ts__ts {
    0% {
      transform: translate(19px, 19.002481px) rotate(270deg) scale(0, 0);
    }
    68% {
      transform: translate(19px, 19.002481px) rotate(270deg) scale(0, 0);
    }
    96% {
      transform: translate(19px, 19.002481px) rotate(270deg) scale(1, 1);
    }
    100% {
      transform: translate(19px, 19.002481px) rotate(270deg) scale(1, 1);
    }
  }
  #untitled-star-spoke7 {
    animation: untitled-star-spoke7_c_o 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke7_c_o {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #untitled-star-spoke8_ts {
    animation: untitled-star-spoke8_ts__ts 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke8_ts__ts {
    0% {
      transform: translate(19px, 19.002481px) rotate(315deg) scale(0, 0);
    }
    70% {
      transform: translate(19px, 19.002481px) rotate(315deg) scale(0, 0);
    }
    98% {
      transform: translate(19px, 19.002481px) rotate(315deg) scale(1, 1);
    }
    100% {
      transform: translate(19px, 19.002481px) rotate(315deg) scale(1, 1);
    }
  }
  #untitled-star-spoke8 {
    animation: untitled-star-spoke8_c_o 500ms linear 1 reverse forwards;
  }
  @keyframes untitled-star-spoke8_c_o {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
