@import "../../style/index";
.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
}
.navbar {
  &-container {
    z-index: 5;
    @include displayflex(row, space-around);
    align-items: center;
    width: 100%;
    background: var(--foreground-color);

    box-shadow: 0rem 0.25rem 0.9375rem -0.5rem rgba(0, 0, 0, 0.25);
  }
  &-logo {
    margin-block: 1rem;
    & img {
      max-width: 100%;
      height: auto;
    }
  }
  &-menu {
    &-list {
      padding: 0;
      margin: 0;
      list-style-type: none;
      &-element {
        float: left;
        margin-inline: 16px;
        & a {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: clamp(0.83vw, 1em, 16px);
          line-height: 1.25rem;
          text-transform: uppercase;
          text-decoration: none;
          @include textgradient(var(--heading-color));
          opacity: 0.8;
          transition: opacity 300ms ease;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  &-hamburger {
    display: none;
  }
  /*-----------MEDIA QUERIES--------------------*/
  @media screen and (max-width: 810px) {
    &-container {
      justify-content: space-between;
      padding-inline: 2.5rem;
      position: relative;
    }
    &-logo {
      order: 2;
      & a {
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          width: 50%;
          max-width: 100%;
          height: auto;
        }
      }
    }
    &-menu {
      display: flex;
      justify-content: center;
      @include absoluteP;
      height: fit-content;
      z-index: -2;
      background-color: var(--foreground-color);
      pointer-events: none;
      box-shadow: 0rem 0.25rem 0.9375rem -0.5rem rgba(0, 0, 0, 0.25);
      transition: transform 300ms ease-in-out, opacity 300ms ease-in;
      transform: translateY(-100%);
      opacity: 0;
      &.opened {
        pointer-events: all;
        opacity: 1;
        transform: translateY(16%);
      }
      &-list {
        &-element {
          display: flex;
          justify-content: center;
          margin-inline: 0;
          margin-block: 2rem;
          float: none;
        }
      }
    }
    &-toggle {
      order: 1;
    }
    &-hamburger {
      order: 3;
      display: block;
    }
  }
}
