@import "../../style/index";
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar {
  &-container {
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: $white;
    @include darklightselector(dark) {
      background: $gray2;
    }
    .dark-mode {
      background: $gray2;
    }
    box-shadow: 0rem 0.25rem 0.9375rem -0.5rem rgba(0, 0, 0, 0.25);
  }
  &-logo {
    margin-block: 1rem;
    & img {
      max-width: 100%;
      height: auto;
    }
  }
  &-menu {
    &-list {
      padding: 0;
      margin: 0;
      list-style-type: none;
      &-element {
        float: left;
        margin-inline: 16px;
        & a {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: clamp(0.83vw, 1em, 16px);
          line-height: 1.25rem;
          text-transform: uppercase;
          text-decoration: none;
          background: $gradientmedium;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }
  }
  &-hamburger {
    display: none;
  }
  /*-----------MEDIA QUERIES--------------------*/
  @media screen and (max-width: 810px) {
    &-container {
      justify-content: space-between;
      padding-inline: 2.5rem;
      position: relative;
    }
    &-logo {
      & img {
        max-width: 60%;
        height: auto;
      }
    }
    &-menu {
      display: flex;
      justify-content: center;
      @include absoluteP;
      height: fit-content;
      z-index: -1;
      background-color: $white;
      @include darklightselector(dark) {
        background: $gray2;
      }
      .dark-mode {
        background: $gray2;
      }
      box-shadow: 0rem 0.25rem 0.9375rem -0.5rem rgba(0, 0, 0, 0.25);
      transition: transform 300ms ease-in-out;
      transform: translateY(-100%);
      &.opened {
        transform: translateY(20%);
      }
      &-list {
        &-element {
          display: flex;
          justify-content: center;
          margin-inline: 0;
          margin-block: 2rem;
          float: none;
        }
      }
    }
    &-toggle {
      display: none;
    }
    &-hamburger {
      display: block;
    }
  }
}
