$white: #ffff;
$lightblue: #80FFDB;
$mediumblue: #56CFE1;
$blue:#4EA8DE;
$lightpurple:#5E60CE;
$purple:#7400B8;
$gradientlight:linear-gradient(180deg, #80FEF7 0%, #48BFE3 100%);
$gradientmedium:linear-gradient(180deg, #9799FF 0%, #8BDEF8 100%);
$gradientdarkq:linear-gradient(180deg, #5E60CE 0%, #7400B8 100%);
$toolcardoverlay:linear-gradient(0deg, rgba(0, 0, 0, 0) 10%, #4EA8DE 100%); 