@mixin absoluteP {
  position: absolute;
inset: 0;
}
@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin displayflex($direction:null,$justify:null,$alignitems:null){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignitems;
}
@mixin textgradient($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
