@import "../../../style/index";
.hero-section {
  // z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 100vh;

  color: $white;
  text-transform: uppercase;
  background: var(--lp-background), url("../../../assets/images/LandingPage.webp");
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width:600px){
    height: 50vh;
  }

  &-container {
    padding-right: 20vw;
    padding-left: 5vw;
    @media screen and (max-width:550px) {
      padding-right: 0;
      padding-left: 10vw;
    }
  }
  &-title {
    display: flex;
    align-content: flex-end;
    font-size:max(1em, 3vw);
    line-height: 3.8125rem;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    & span {
      color: var(--lp-color);
    }
    @media screen and (max-width:600px){
      line-height: 1.5rem;
    }
  }
  &-carousel {
    display: flex;
    align-content: flex-start;
    font-weight: 900;
    font-size: max(1.5em, 5vw);
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    height: 2ch;

    &-flip {
      list-style: none;
      padding: 0;
      animation: heroflip 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
      li {
        color: $white;
        span {
          @include textgradient(var(--lp-gradient));
        }
      }
    }
  }
}

@keyframes heroflip {
  0% {
    margin-top: -9ch;
  } //100
  5% {
    margin-top: -7ch;
  } //80
  20% {
    margin-top: -7ch;
  }
  25% {
    margin-top: -5.25ch;
  } //60
  40% {
    margin-top: -5.25ch;
  }
  45% {
    margin-top: -3.5ch;
  } //40
  60% {
    margin-top: -3.5ch;
  }
  65% {
    margin-top: -1.7ch;
  } //20
  80% {
    margin-top: -1.7ch;
  }
  85% {
    margin-top: 0ch;
  } //0
  100% {
    margin-top: 0ch;
  }
 
}

.dark-mode {
  .hero-section {
    background: linear-gradient(
        to top,
        var(--foreground-color) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../../assets/images/LandingPage.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
