@import "../../style/index";

.toolsCardCarousel-container {
  width: 100vw;
  position: relative;
  &-title {
    @include position(absolute, 0, 0, 0, 15%);
    z-index: 4;
    width: fit-content;
    height: fit-content;
    & h1 {
      @include heading1;
      background: linear-gradient(180deg, #5e60ce 0%, #7400b8 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      opacity: 0.6;
    }
  }
  &-gradient {
    display: flex;
    justify-content: space-between;
    @include absoluteP;
    width: 100%;
    z-index: 3;
    pointer-events: none;
    &-left {
      pointer-events: all;
      width: 41vw;
      background: $toolcardcarouseloverlay;
      @include darklightselector(dark) {
        background: $toolcardcarouseloverlaydark;
      }
      & .dark-mode {
        background: $toolcardcarouseloverlaydark;
      }
    }
    &-right {
      pointer-events: all;
      transform: rotate(180deg);
      width: 41vw;
      background: $toolcardcarouseloverlay;
      @include darklightselector(dark) {
        background: $toolcardcarouseloverlaydark;
      }
    }
  }
  @media only screen and (max-width: 650px) {
    &-gradient {
      display: none;
    }
  }
  .toolsCardCarousel {
    .slick-slide {
      display: flex;
      justify-content: center;
      padding: 0 0;
      box-sizing: border-box;
    }
    .slick-prev {
      left: 25px;
    }
    .slick-next {
      right: 25px;
    }
  }
}
