@import "../../style/index";

.toolsCardCarousel-container {
  width: 100vw;
  position: relative;
  &-gradient {
    display: flex;
    justify-content: space-between;
    @include absoluteP;
    width: 100%;
    z-index: 3;
    pointer-events: none;
    &-left {
      pointer-events: all;
      width: 41vw;
      background: $toolcardcarouseloverlay;
      @include darklightselector(dark) {
        background: $toolcardcarouseloverlaydark;
      }
    }
    &-right {
      pointer-events: all;
      transform: rotate(180deg);
      width: 41vw;
      background: $toolcardcarouseloverlay;
      @include darklightselector(dark) {
        background: $toolcardcarouseloverlaydark;
      }
    }
  }
  @media only screen and (max-width: 650px) {
	&-gradient{
		display: none;
	}
	}
  .toolsCardCarousel {
    .slick-slide {
		display: flex;
		justify-content: center;
		padding: 0 0;
      	box-sizing: border-box;
    }
    .slic-prev{}
  }
}
