@import "../../style/index";
.arrows {
  transition: all 250ms ease;
  &:hover {
    filter: brightness(1.5) hue-rotate(10deg);
    opacity: 0.5;
    transform: scale(0.9);
  }
}
.toolsCardCarousel-container {
  width: 100%;
  position: relative;
  @media only screen and (max-width: 1230px) {
    & {
      padding-top: 10%;
    }
  }
  &-title {
    display: flex;
    padding-left: 12%;
    @include position(absolute, 0, 0, 0, 0);
    z-index: 4;
    width: 100%;
    height: fit-content;
    // outline: 1px solid red;
    @media only screen and (max-width: 1230px) {
      & {
        display: block;
        padding-left:5vw;
      }
    }
    & h1 {
      @include heading1;
      @include textgradient($gradientdarkq);
      opacity: 0.6;
      @include darklightselector(dark) {
        @include textgradient($gradientlight);
        opacity: 0.9;
      }
    }
  }
  &-gradient {
    display: flex;
    justify-content: space-between;
    @include absoluteP;
    width: 100%;
    z-index: 3;
    pointer-events: none;
    &-left {
      pointer-events: all;
      width: 41vw;
      background: $toolcardcarouseloverlay;
      @include darklightselector(dark) {
        background: $toolcardcarouseloverlaydark;
      }
      
    }
    &-right {
      pointer-events: all;
      transform: rotate(180deg);
      width: 41vw;
      background: $toolcardcarouseloverlay;
      @include darklightselector(dark) {
        background: $toolcardcarouseloverlaydark;
      }
    }
  }
  @media only screen and (max-width: 650px) {
    &-gradient {
      display: none;
    }
  }
  .toolsCardCarousel {
    .slick-slide {
      display: flex;
      justify-content: center;
      padding: 0 0;
      box-sizing: border-box;
    }
    .slick-prev {
      left: 25px;
    }
    .slick-next {
      right: 25px;
    }
  }
}
.dark-mode{
  .toolsCardCarousel-container{
    &-gradient{
      &-left{
        background: $toolcardcarouseloverlaydark;
      }
      &-right{
        background: $toolcardcarouseloverlaydark;
      }
    }
    &-title{
      h1{
        @include textgradient($gradientlight);
        opacity: 0.9;
      }
    }
  }
}